.env
.vscode
.DS_Store

*.log
db.sql.gz
db.sql

wp-config-db.php

wp-content/*
!wp-content
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/index.php

wp-content/plugins/advanced-custom-fields-pro

node_modules