{
  "*.vue": ["eslint --fix", "eslint"],
  "*.js": ["eslint --fix", "eslint"],
  "*.ts": ["eslint --fix", "eslint"],
  "*.css": ["stylelint --fix", "stylelint"],
  "*.scss": ["stylelint --fix", "stylelint"],
  "*blade.php": ["prettier --write", "prettier --check"],
  "*.php": ["vendor/bin/phpcs"]
}
