<?xml version="1.0"?>

<ruleset name="tentypdev">
  <arg name="colors" />
  <arg value="s" />

  <file>app</file>
  <file>inc</file>
  <file>functions.php</file>

  <rule ref="PSR12" />

  <rule ref="Generic.Arrays.DisallowLongArraySyntax" />
  <rule ref="Generic.PHP.DisallowShortOpenTag" />
  <rule ref="Generic.Formatting.SpaceAfterCast" />
  <rule ref="Generic.Formatting.SpaceAfterNot" />
  <rule ref="Generic.CodeAnalysis.UnconditionalIfStatement" />

  <rule ref="PEAR.Commenting.InlineComment" />
  <rule ref="Squiz.Commenting.DocCommentAlignment" />
</ruleset>
