parameters:
    level: 5
    paths:
        - inc
        - app
    bootstrapFiles:
        - resources/functions.php
    scanFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
