@font-face {
  font-family: Montserrat;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
}

html {
  font-size: 10px;
}

body {
  max-width: 1024px;
  margin: auto;

  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;

  background: white url('../images/logo.svg') no-repeat center center;

  -webkit-font-smoothing: antialiased;

  * {
    box-sizing: border-box;
  }
}

p {
  margin: 0 0 1.375rem;
}

ul {
  padding: 0 0 0 20px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__header {
    display: flex;
    flex-basis: 100%;
    align-items: center;

    max-width: 100%;
    padding: 1rem 2rem;

    h3 {
      margin: 0;
    }

    img {
      max-width: 2.5rem;
      max-height: 2.5rem;
      margin-right: 1rem;
      object-fit: contain;
    }
  }

  &__content {
    flex-basis: 70%;
    max-width: 70%;
    padding: 0 20px;
  }

  &__sidebar {
    flex-basis: 30%;
    max-width: 30%;
    padding: 0 20px;
  }
}
