@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
  url('../fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff');
}

body {
  max-width: 1024px;
  margin: auto;
  font-family: 'Montserrat';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background: red url('../images/logo.svg') no-repeat center center;

  * {
    box-sizing: border-box;
  }
}

p {
  margin: 0 0 1.375rem 0;
}

ul {
  padding: 0 0 0 20px;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__header {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  &__content {
    flex-basis: 70%;
    max-width: 70%;
    padding: 0 20px;
  }

  &__sidebar {
    flex-basis: 30%;
    max-width: 30%;
    padding: 0 20px;
  }
}