.-wrapper {
  width: 100%;
  padding-right: max(var(--wrapper-padding), 50vw - var(--wrapper) / 2);
  padding-left: max(var(--wrapper-padding), 50vw - var(--wrapper) / 2);

  &.-fullwidth {
    width: 100vw;
    margin-left: min(var(--wrapper-padding) * -1, calc((100vw - var(--wrapper)) / 2) * -1);
  }
}
