:root {
  /**
   * Layout
   */
  --wrapper: 132rem;
  --wrapper-padding: 2rem;

  /**
   * Fonts
   */
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  /**
   * Colors
   */
  --color-white: #FFF;
  --color-black: #000;
}
